
<header class="h-[150px] z-10 bg-rose-400  top-0 flex justify-center items-center">
    <div>
        <p class="text-5xl font-bold text-violet-900">Football Player</p>
    </div>
</header>

<body class="bg-red-300"><section class="grid gap-8 md:grid-cols-1 md:items-center">
    <div class="flex justify-center">
        <div class="mt-20">
            <div class="max-w-[40rem] rounded-lg bg-blue-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 transition-transform transform hover:translate-y-[-30px] hover:translate-x-[30px] duration-1000" >
                    <a [routerLink]="['/player']" routerLinkActive="active" >
                    <div class="relative overflow-hidden bg-cover bg-no-repeat hover:bg-black hover:translate-y-[-50px] transition-transform duration-1000">
                    <img class="rounded-t-lg" src="https://media.newyorker.com/photos/64bc4330ef09d4a0e04cb249/master/pass/Rosen-Messi-Miami.jpg" alt="" />
                    </div>
                    <div class="p-6">
                    <p class="text-base text-black dark:text-neutral-200">
                        Lionel Messi (born June 24, 1987, Rosario, Argentina) Argentine-born football (soccer) player who received a record-setting eight Ballon d’Or awards as the world’s top male player
                    </p>
                    </div>
                </a>
            </div>
      </div>      
      <div>
      </div>
    </div>  
    <div class="flex justify-center mt-20">
        <div class="max-w-[40rem] rounded-lg bg-blue-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 transition-transform transform hover:translate-y-[-30px] hover:translate-x-[-30px] duration-1000" >
          <a [routerLink]="['/player']" routerLinkActive="active">
            <div class="relative overflow-hidden bg-cover bg-no-repeat hover:bg-black hover:translate-y-[-50px] transition-transform duration-1000">
              <img class="rounded-t-lg h-50" src="https://tmssl.akamaized.net/images/foto/galerie/neymar-brazil-2023-1694521247-116480.jpg?lm=1694521259" alt="" />
            </div>
            <div class="p-6">
              <p class="text-base text-black dark:text-neutral-200">
                Neymar da Silva Santos Júnior (born 5 February 1992), also known as Neymar Júnior, is a Brazilian professional footballer who plays as a forward for Saudi Pro League club Al Hilal and the Brazil national team. Regarded as one of the greatest players of his generation, he is renowned for his flamboyant style of play, passing abilities, and two-footedness.
              </p>
            </div>
          </a>
        </div>
    </div>  
    <div class="text-end mr-5"><p>Ratchapol Rujiwatch</p></div></section>

</body>

