<button class="text-center bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    <a [routerLink]="['/']" routerLinkActive="active">HOME</a>
</button>
<div class="flex justify-center mt-20">
<section class="grid gap-8 md:grid-cols-4">
    <div>
        <img class=" rounded-lg object-cover h-90 w-80" src="https://i.pinimg.com/474x/33/57/0b/33570b239b119457a53db85b265ee481.jpg" alt="image description" >
    </div>
    <div>
        <h1 class="text-4xl">NEYMAR</h1><h1>Santos FC</h1>
        <p> 140 Games 72 Goals 35 Assists.</p>
    </div>

    <div class="">
        <img class=" rounded-lg object-cover h-90 w-80" src="https://i.pinimg.com/736x/9f/6c/e6/9f6ce6d9952c55cdcb311c29681e7008.jpg" alt="image description" >
    </div>
    <div>
        <h1 class="text-4xl">NEYMAR</h1><h1>FC Barcelona</h1>
        <p> 186 Games 105 Goals 76 Assists.</p>
    </div>

    <div class="">
        <img class=" rounded-lg object-cover h-90 w-80" src="https://images.ctfassets.net/3mv54pzvptwz/5NlCRlTMSziMaRUQtvaCPi/b908f9aa38ad78e930dc77c7a90cdc7f/NJR_GOAL_OF_THE_WEEK_PSG.jpg" alt="image description" >
    </div>
    <div>
        <h1 class="text-4xl">NEYMAR</h1><h1>Paris Saint-Germain</h1>
        <p> 173 Games 118 Goals 77 Assists.</p>
    </div>

    <div class="">
        <img class=" rounded-lg object-cover h-90 w-80" src="https://pbs.twimg.com/media/F3hFhMZWcAA8Bro.jpg:large" alt="image description" >
    </div>
    <div>
        <h1 class="text-4xl">NEYMAR</h1><h1>Al-Hilal SFC</h1>
        <p> 5 Games 1 Goals 3 Assists.</p>
    </div>
</section>
</div>
<div class="text-end mr-5"><p>Ratchapol Rujiwatch</p></div>


